h1{
    font-family: 'Imperial Script', cursive;;
    padding: 0 70px 0 50px;
    font-size: 2.7em;
    color: steelblue;
}

::ng-deep .p-menubar{
    background-image:url("/../assets/img/background-img.png") !important;
    background-size: cover;
    height: 100px;
}

::ng-deep .p-menuitem-icon{
    font-size: 20px;
}