<div class="grid app-footer justify-content-center align-items-center">
    <div class="col-12 md:col-3 app-left-header">
        <span>La Palce</span>
    </div>
    <div class="col-12 md:col-6 flex flex-column md:flex-row align-items-center">
        <div class="fex app-center-header">
            <ul class="flex md:flex-column footer-text">
                <li><span class="fa-ul"><i class="pi pi-home"></i></span>About us</li>
                <li><span class="fa-ul"><i class="pi pi-check"></i></span>Booking</li>
                <li><span class="fa-ul"><i class="pi pi-list"></i></span>List</li>
            </ul>
        </div>
        <div class="fex app-right-icon">
            <ul class=" flex md:flex-column footer-text">
                <li><span class="fa-ul"><i class="pi pi-facebook"></i></span></li>
                <li><span class="fa-ul"><i class="pi pi-github"></i></span></li>
                <li><span class="fa-ul"><i class="pi pi-instagram"></i></span></li>
            </ul>
        </div>
    </div>
    <div class="col-12 sign">Ⓒ My Phung Tieu</div>
</div>
