<div class="grid info-form justify-content-center">
    <div class="col-12 flex justify-content-center">
        <h2>PAYMENT DETAIL</h2>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="col-8 justify-content-center">
        
        <div class="flex flex-column justify-content-center">
            <label for="card-holder">CARD HOLDER *</label>   
            <input  type="text" pInputText id="card-holder" formControlName="cardHolder">     
        </div>
        <div *ngIf="cardHolderControl?.invalid && (cardHolderControl.dirty || cardHolderControl.touched)"
        class="alert alert-danger">
            <div *ngIf="cardHolderControl.errors?.['required']">
                Card Holder is required
            </div>

        </div>

        <div class="flex flex-column justify-content-center">
            <label for="card-number">CARD NUMBER *</label>   
            <input type="text" pInputText id="card-number" formControlName="cardNumber">     
        </div>
        <div *ngIf="cardNumberControl?.invalid && (cardNumberControl.dirty || cardNumberControl.touched)"
        class="alert alert-danger">
            <div *ngIf="cardNumberControl.errors?.['required']">
                Card Number is required
            </div>
            <div *ngIf="cardNumberControl.errors?.['minlength']">
                Card Number must be at least 12 number
            </div>
        </div>

        <div class="flex gap-3">
            <div class="flex flex-column ">
                <label for="month">MONTH *</label>
                <input type="text" pInputText id="month" formControlName="monthOfCard">
            </div>
            <div *ngIf="">
    
            </div>
    
            <div class="flex flex-column">
                <label for="year">YEAR *</label>
                <input type="text" pInputText id="year" formControlName="yearOfCard">
            </div>
            <div *ngIf="">
                
            </div>
    
            <div class="flex flex-column">
                <label for="cvv">CVV *</label>
                <input type="text" pInputText id="cvv" formControlName="cvvOfCard">
            </div>
            <div *ngIf="">
                
            </div>
        </div>



        <!-- <div>
            <label for="card-holder">CARD HOLDER *</label>
            <div>
                <input class="form-control"
                        type="text"
                        [required] = "true"
                        [(ngModel)]="cardHolder"
                        >
            </div>
            <div [hidden]="cardHolder?.length>0"
                class="alert alert-danger">
                Zip code is required
            </div>
        </div> -->
        <!-- <div>
            <label for="card-number">CARD NUMBER *</label>
            <div>
                <input class="form-control"
                        type="text"
                        [required] = "true"
                        [(ngModel)] = "cardNumber">
            </div>
            <div [hidden]="cardNumber.length>0"
                class="alert alert-danger">
                Zip code is required
            </div>
        </div>
        <div class="flex flex-row">
            <div>
                <label for="month">MONTH *</label>
                <div>
                    <input class="form-control"
                            type="text"
                            [required] = "true"
                            >
                </div>
                <div [hidden]=""
                    class="alert alert-danger">
                    Zip code is required
                </div>
            </div>
            <div>

                <label for="year">YEAR *</label>
                <div>
                    <input class="form-control"
                            type="text"
                            [required] = "true"
                            >
                </div>
                <div [hidden]=""
                    class="alert alert-danger">
                    Zip code is required
                </div>
            </div>
            <div>
                <label for="cvv">CVV *</label>
                <div>
                    <input class="form-control"
                            type="text"
                            [required] = "true"
                            >
                </div>
                <div [hidden]="cvv>3"
                    class="alert alert-danger">
                    Zip code is required
                </div>
            </div>
        </div> -->
        <p-button type="submit" [disabled]="!profileForm.valid"
                (click)="onSubmit()">
            SUBMIT
        </p-button>

    </form>
    
</div>
