<div class="grid info-form justify-content-center">
    <div class="col-12 flex justify-content-center">
        <h2>PAYMENT DETAIL</h2>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="justify-content-center">
        
        <div class="flex flex-column">
            <label for="card-holder">CARD HOLDER *</label>   
            <input id="card-holder" type="text" formControlName="cardHolder">     
        </div>
        <div *ngIf="cardHolder?.invalid && (cardHolder.dirty || cardHolder.touched)"
        class="alert">

            <div *ngIf="cardHolder.errors?.['required']">
                Card Holder is required
            </div>

        </div>

        <div class="flex flex-column">
            <label for="card-number">CARD NUMBER *</label>   
            <input id="card-number" type="number" formControlName="cardNumber">     
        </div>

        <!-- <div>
            <label for="card-holder">CARD HOLDER *</label>
            <div>
                <input class="form-control"
                        type="text"
                        [required] = "true"
                        [(ngModel)]="cardHolder"
                        >
            </div>
            <div [hidden]="cardHolder?.length>0"
                class="alert alert-danger">
                Zip code is required
            </div>
        </div> -->
        <!-- <div>
            <label for="card-number">CARD NUMBER *</label>
            <div>
                <input class="form-control"
                        type="text"
                        [required] = "true"
                        [(ngModel)] = "cardNumber">
            </div>
            <div [hidden]="cardNumber.length>0"
                class="alert alert-danger">
                Zip code is required
            </div>
        </div>
        <div class="flex flex-row">
            <div>
                <label for="month">MONTH *</label>
                <div>
                    <input class="form-control"
                            type="text"
                            [required] = "true"
                            >
                </div>
                <div [hidden]=""
                    class="alert alert-danger">
                    Zip code is required
                </div>
            </div>
            <div>

                <label for="year">YEAR *</label>
                <div>
                    <input class="form-control"
                            type="text"
                            [required] = "true"
                            >
                </div>
                <div [hidden]=""
                    class="alert alert-danger">
                    Zip code is required
                </div>
            </div>
            <div>
                <label for="cvv">CVV *</label>
                <div>
                    <input class="form-control"
                            type="text"
                            [required] = "true"
                            >
                </div>
                <div [hidden]="cvv>3"
                    class="alert alert-danger">
                    Zip code is required
                </div>
            </div>
        </div> -->
        <p-button type="submit" [disabled]="!profileForm.valid"
                (click)="onSubmit()">
            SUBMIT
        </p-button>

    </form>
    
</div>
