

<p-table [value]="products" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Availability
            <p-button icon="pi pi-refresh"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Room Type</th>
            <!-- <th>Image</th> -->
            <th>Kind Bed</th>
            <th>Sleep</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.name}}</td>
            <!-- <td><img [src]="'assets/showcase/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" /></td> -->
            <td>{{product.kindBed}}</td>
            <td>{{product.peopleNum}}</td>
            <td>{{product.price | currency:'USD'}}</td>
            <!-- <td><p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating></td> -->
            <td>{{product.status}}</td>
        </tr>
    </ng-template>
</p-table>
