<div class="col-12"><app-side-intro></app-side-intro></div>

<div class="flex flex-column justify-content-center">
    <div class="flex md:text-xl head-title justify-content-center">
        <h1>DISCOVER LA PALACE ROOM</h1>
    </div>
    <div class="flex flex-column md:flex-row gap-3 flex-wrap justify-content-center">
        <div class="flex container justify-content-center">
            <div class="img-photo">
                <img class="discover-photo" src="assets/img/singleRoom.jpg">
            </div>
            <div class="text-block">
                <h3>Single Room</h3>
                <span>Private for the best dream</span>
            </div>
            
        </div>
        <div class="flex container justify-content-center">
            <div class="img-photo">
                <img class="discover-photo" src="assets/img/deluxeRoom.jpg">
            </div>
            <div class="text-block">
                <h3>Deluxe Room</h3>
                <span>Experince with fanstatic room</span>
            </div>
        </div>
        <div class="flex container justify-content-center">
            <div class="img-photo">
                <img class="discover-photo" src="assets/img/familyRoom.jpg">
            </div>
            <div class="text-block">
                <h3>Family Room</h3>
                <span>Enjoy the moment with your family</span>
            </div>
        </div>
    </div>
    <!-- <div class="flex md:text-xl head-title justify-content-center">
        <h1 >CAPTURE THE ADVENTURE</h1>
    </div> -->
    <!-- <div class="flex adjust-flex justify-content-center">
        <div class="col-5 md:col-4">
            <div>
                <i class="fa solid fa-circle-heart"></i>
            </div>
            <div>
                <h2>MemberShip is Free</h2>
                <span>abc</span>
            </div>
        </div>
        <div class="col-5 md:col-4">
            <div>
                <i class="fa solid fa-circle-dolla"></i>
            </div>
            <div>
                <h2>MemberShip is Free</h2>
                <span>abc</span>
            </div>
        </div>
        <div class="col-5 md:col-4">
            <div>
                <i class="fa solid fa-circle-start"></i>
            </div>
            <div>
                <h2>MemberShip is Free</h2>
                <span>abc</span>
            </div>
        </div>
 

    </div> -->

</div>
