<div class="grid">
    <div class="col-12">
        <h1>Discover Somewhere New</h1>
    </div>
    <div class="col-12">
        <div class="col-5 md:col-4">
            <img class="discover-photo" src="assets/img/hotel-side1">
        </div>
        <div class="col-5 md:col-4">
            <img class="discover-photo" src="assets/img/hotel-side2">
        </div>
        <div class="col-5 md:col-4">
            <img class="discover-photo" src="assets/img/hotel-side3">
        </div>

    </div>
    <div class="col-12">Join as a Member </div>
    <div class="col-12">
        <div class="col-5 md:col-4">
            <div>
                <i class="fa solid fa-circle-heart"></i>
            </div>
            <div>
                <h2>MemberShip is Free</h2>
                
                <span>abc</span>
            </div>
        </div>
        <div class="col-5 md:col-4">
            <div>
                <i class="fa solid fa-circle-dolla"></i>
            </div>
            <div>
                <h2>MemberShip is Free</h2>
                <span>abc</span>
            </div>
        </div>
        <div class="col-5 md:col-4">
            <div>
                <i class="fa solid fa-circle-start"></i>
            </div>
            <div>
                <h2>MemberShip is Free</h2>
                <span>abc</span>
            </div>
        </div>
 

    </div>

</div>
