<div class="flex flex-column justify-content-center">
    <div class="flex justify-content-center">
        <span class="header">
            YOUR DETAIL
        </span>
    </div>
    <div class="flex flex-column justify-content-center">
        <div class="flex justify-content-center">
            <h2>SUMMARY</h2>
        </div>
        <div class="flex justify-content-center">
            <h3>{{storeValue.name}}</h3>
        </div>
        <div class="flex justify-content-center">
            <div class="table-storeValue">
                <tr>
                    <th>DATE</th>
                    <td>{{select['selectedStartDate']}} to {{select['selectedEndDate']}}</td>      
                </tr>
                <tr>
                    <th>GUEST</th>
                    <td>{{guest}}</td>      
                </tr>
                <tr>
                    <th>SLEEP</th>
                    <td>{{select['selectedRoom']}}</td>      
                </tr>
                <tr>
                    <th>ROOM</th>
                    <td>{{storeValue.kindBed}}</td>      
                </tr>
                <tr>
                    <th>BENEFIT</th>
                    <td>
                        <li><i class="fa-solid fa-bowl-food"></i>{{storeValue.breakfast}}</li>
                        <li><i class="fa-solid fa-tv"></i>{{storeValue.tv}}</li>
                        <li><i class="fa-solid fa-person-swimming"></i>{{storeValue.pool}}</li>
                        <li><i class="fa-solid fa-bath"></i>{{storeValue.bath}}</li>
                        <li><i class="fa-solid fa-shirt"></i>{{storeValue.laundry}}</li>
                        <li><i class="fa-solid fa-parking"></i>{{storeValue.parking}}</li>
                    </td>
                </tr>
                <tr>
                    <th>PRICE</th>
                    <th>${{storeValue.price}}/NIGHT</th>
                </tr>
                <tr>
                    <th>TAX</th>
                    <th>7%</th>
                </tr>
                <tr>
                    <th>TOTAL PRICE</th>
                    <th>${{total?.toFixed(2)}}</th>
                </tr>
             
            </div>
        </div>
        
    </div>
    <div class="grid info-form justify-content-center">
        <div class="col-12 flex justify-content-center">
            <h2>RESERVATION INFORMATION</h2>
        </div>
        <div class="col-9 grid form-group justify-content-center">
            <div class="col-12 lg:col-6 justify-content-center reservation-form">
                <div class="input-form">
                    <label class="flex" for="title">TITLE</label>
                    <p-dropdown class="flex form-control" id="title"
                                [autoDisplayFirst]="false"
                                [options]="titles"
                                [(ngModel)]="selectedTilte"
                                placeholder="CHOOSE A TITLE"
                                [showClear]="true"
                                optionLabel="name">
                    </p-dropdown>
                </div>
                <div class="input-form">
                    <label class="flex" for="firstname">FIRST NAME *</label>
                    <input class="form-control" id="title"
                            type="text"  pInputText
                            [(ngModel)]="firstNameValue"
                            [required] = "true">
                    <div [hidden]="nameValidate(firstNameValue)"
                            class="alert alert-danger">
                            {{firstNameMessage}}
                    </div>
                </div>
                <div class="input-form">
                    <label for="lastname">LAST NAME *</label>
                    <input class="form-control" id="title"
                            type="text"  pInputText
                            [(ngModel)]="lastNameValue"
                            [required] = "true">
                    <div [hidden]="nameValidate(lastNameValue)"
                            class="alert alert-danger">
                            Last Name is required
                    </div>
                </div>
                <div class="input-form">
                    <label for="phone">PHONE*</label>
                    <input class="form-control" id="phone"
                            type="text"  pInputText
                            [(ngModel)]="phoneValue"
                            [required] = "true">
                    <div [hidden]="phoneValue.length > 0"
                            class="alert alert-danger">
                            Last Name is required
                    </div>
                </div>
                <div class="input-form">
                    <label for="email">EMAIL *</label>
                    <input class="form-control" id="title"
                            type="text"  pInputText
                            [(ngModel)]="emailValue"
                            [required] = "true">
                    <div [hidden]="emailValidate()"
                            class="alert alert-danger">
                            Please enter valid Email
                    </div>
                </div>
                <div class="input-form">
                    <label for="confirmEmail">CONFIRM EMAIL *</label>
                    <input class="form-control" id="title"
                            type="text"  pInputText
                            [(ngModel)]="confirmEmailValue"
                            [required] = "true">
                    <div [hidden]="emailValidate()"
                            class="alert alert-danger">
                            Confirm Email is required
                    </div>
                    <div [hidden]="confirmEmailValue === emailValue"
                        class="alert alert-danger">
                        Confirm Email is not match with your email
                </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 flex flex-column justify-content-center reservation-form">
                <div class="input-form">
                    <label for="country">COUNTRY</label>
                    <p-dropdown class="form-control" id="country"
                                [autoDisplayFirst]="false"
                                [(ngModel)]="selectedCountry" 
                                [options]="country"
                                optionLabel="name"
                                [required] = "true">
                    </p-dropdown>
                    <div [hidden]="selectedCountry != null"
                            class="alert alert-danger">
                            Country is required
                    </div>
                </div>
                <div class="input-form">
                    <label for="state">STATE</label>
                    <p-dropdown class="form-control" id="state"
                                [autoDisplayFirst]="false"
                                [(ngModel)]="selectedState" 
                                [options]="state"
                                optionLabel="name"
                                [required] = "true">
                    </p-dropdown>
                    <div [hidden]="selectedState === null"
                            class="alert alert-danger">
                            State is required
                    </div>
                </div>
                <div class="input-form">
                    <label for="city">CITY *</label>
                    <input class="form-control" id="title"
                            type="text"  pInputText
                            [(ngModel)]="cityValue"
                            [required] = "true">
                    <div [hidden]="cityValue.length > 0"
                            class="alert alert-danger">
                            City is required
                    </div>
                </div>
                <div class="input-form">
                    <label for="address">ADDRESS *</label>
                    <input class="form-control" id="title"
                            type="text"  pInputText
                            [(ngModel)]="addressValue"
                            [required] = "true">
                    <div [hidden]="addressValue.length > 0"
                            class="alert alert-danger">
                            Address is required
                    </div>
                </div>
                <div class="input-form">
                    <label for="zipcode">ZIP CODE *</label>
                    <input class="form-control" id="title"
                            type="text"  pInputText
                            [(ngModel)]="zipCodeValue"
                            [required] = "true">
                    <div [hidden]="zipCodeValue.length > 0"
                            class="alert alert-danger">
                            Zip code is required
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <p-button type="button"
                      [disabled] = "submitted"
                     (click)="onSubmit()"
                    >SUBMIT
            </p-button>
        </div>
        
    </div>
</div>

