<div class="grid justify-content-center">
    <div class="col-12">
        <div class="flex flex-wrap justify-content-center gap-3">
                <div class="p-inputgroup place-input justify-content-center">
                    <span class="p-inputgroup-addon"><i class="pi pi-car"></i></span>
                    <input class="input-style" type="text" pInputText placeholder="Going to">         
                </div>
                <div class="p-inputgroup room-input justify-content-center">
                    <span class="p-inputgroup-addon"><i class="pi pi-users"></i></span>
                    <input class="input-style" type="text" pInputText placeholder="1 Room, 2 Guest">         
                </div>

                <p-calendar [(ngModel)]="rangeDate" selectionMode="range" [readonlyInput]="true" [showIcon]="true" inputId="icon"></p-calendar>
                
                <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-info"></button>
            
        </div>
    </div>
    <div class="col-fix">
        <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="4" [circular]="true"
        [autoPlay]="true" [transitionInterval]="2500"> 
            <ng-template pTemplate="item" let-item>
                <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                    <img [src]="item.thumbnailImageSrc" style="display: block; width: 120px; height: 60px; padding:0 10px 0 10px;"  />
                </div>
            </ng-template>
        </p-galleria>
    </div>
</div>
