/* For mobile phones: */
// [class*="col-12"] {
//     width: 100%;
// }

// ::ng-deep .p-inputgroup{
//     width: 250px;
//     height:50px;
// }

// @media only screen and (max-width: 600px){
//     /* For tablets: */
//    .input-style{
//        width:350px;
//    }
// }

::ng-deep .p-inputtext{
    width:50px;
}

.title{
    font-size: smaller;
    font-family: ui-sans-serif;
    font-weight: 700;
}


@media only screen and (min-width: 600px){
    //  /* For tablets: */
    // .input-style{
    //     width:350px;
    // }
    ::ng-deep .p-calendar{
        width: 300px;
    }

   
}

@media only screen and (min-width: 992px) {
    // /* For desktop: */
    // .input-style{
    //     width: 350px;
    // }

}




