<div class="grid header">
    <div class="col-12">
        <p-panel header="ROOM TYPES" [toggleable]="true">
            <p-checkbox name="groupname" value="Standard room" label="SINGLE" [(ngModel)]="selectedRoom"></p-checkbox>
            <p-checkbox name="groupname" value="Deluxe room" label="DELUXE" [(ngModel)]="selectedRoom"></p-checkbox>
            <p-checkbox name="groupname" value="Family room" label="FAMILY" [(ngModel)]="selectedRoom"></p-checkbox>
        </p-panel>
    </div>
    <div class="col-12">
        <p-panel header="BEDDING" [toggleable]="true">
            <p-checkbox name="groupname" value="1 Queen bed" label="1 QUEEN BED" [(ngModel)]="selectedBedding"></p-checkbox>
            <p-checkbox name="groupname" value="2 Queen bed" label="2 QUEEN BED" [(ngModel)]="selectedBedding"></p-checkbox>
            <p-checkbox name="groupname" value="3 Queen bed" label="3 QUEEN BED" [(ngModel)]="selectedBedding"></p-checkbox>
            <p-checkbox name="groupname" value="1 King bed" label="1 KING BED" [(ngModel)]="selectedBedding"></p-checkbox>
            <p-checkbox name="groupname" value="2 King bed" label="2 KIND BED" [(ngModel)]="selectedBedding"></p-checkbox>
        </p-panel>
    </div>
    <div class="col-12">
        <p-panel header="STATUS" [toggleable]="true">
            <p-checkbox name="groupname" value="Empty" label="EMPTY" [(ngModel)]="selectedStatus"></p-checkbox>
        </p-panel>
    </div>
    <div class="select-button">
        <button pButton pRipple type="button" label="CANCEL" class="p-button-outlined p-button-secondary" (click)="handleCancelClicked()"></button>
    </div>
    <div class="select-button">
        <button pButton pRipple type="button" label="APPLY" class="p-button-outlined p-button-secondary" (click)="handleApplyClicked()" ></button>
    </div>
</div>

        <!-- <p-panel header="ROOM TYPES" [toggleable]="true">
            <div *ngFor="let name of products" class="col-12">
                <input type="checkbox" name="roomType" [(ngModel)]="name.isChecked">
                {{name.label}}
            </div>
        </p-panel> -->
