<div class="grid">
    <div class="col-12">
        <p-steps [model]="items"></p-steps>
    </div>
    <div class="col-12">
        <div class="pi pi-calendar">

        </div>
        <div class="pi pi-users">
            
        </div>
        <div class="pi pi-circle">
            
        </div>
    </div>
    <div class="col-12">
        <h1>
            SELECT ROOM
        </h1>
        
    </div>
    <div class="col-12">
        <div class="gird">
            <div class="col-5">
                img
            </div>
            <div class="col-5">
                info
            </div>
        </div>

        
    </div>

</div>
